@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

#appComponent{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 5rem; /* Shift content to the right */
}