version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    container_name: lexiq-database
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "8PJqTImEUx3RD8ZRTx0T"
    volumes:
      - db-data:/var/opt/mssql


volumes:
  db-data:
