version: '3.8'

secrets:
  db_password:
    file: ./secrets/database/password.txt
  backend_env:
    file: ./secrets/backend/.env

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: lexiq-database
    environment:
      ACCEPT_EULA: "Y"
      #MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      MSSQL_SA_PASSWORD_FILE: /run/secrets/db_password
    secrets: 
      - db_password
    volumes:
      - db-data:/var/opt/mssql
    entrypoint: ["/bin/bash", "-c"]
    command:
      - |
        export MSSQL_SA_PASSWORD=$$(cat /run/secrets/db_password)
        /opt/mssql/bin/sqlservr
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "$$(cat /run/secrets/db_password)" -Q "SELECT 1" -C || exit 1
      interval: 10s
      retries: 10
      start_period: 10s
      timeout: 3s
  
  backend:
    build:
      context: ./backend
      dockerfile: DOCKERFILE
    container_name: lexiq-backend
    secrets: 
      - backend_env
    ports:
      - "5000:5000"
    depends_on:
      db: 
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: DOCKERFILE
    container_name: lexiq-frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    user: nginx 

volumes:
  db-data:
