version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    container_name: lexiq-database
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
    volumes:
      - db-data:/var/opt/mssql
  
  backend:
    build:
      context: ./backend
      dockerfile: DOCKERFILE
    container_name: lexiq-backend
    env_file: 
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: DOCKERFILE
    container_name: lexiq-frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    user: nginx 

volumes:
  db-data:
