secrets:
  db_password:
    file: ./backend/Database/password.txt
  backend_env:
    file: ./backend/.env
  frontend_env:
    file: ./frontend/.env

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: lexiq-database
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: /run/secrets/db_password
    secrets: 
      - db_password
    volumes:
      - db-data:/var/opt/mssql
    healthcheck:
      test: >
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa 
        -P "$$(cat /run/secrets/db_password)" 
        -Q "SELECT 1" -C || exit 1
      interval: 10s
      retries: 10
      start_period: 30s
      timeout: 3s
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: DOCKERFILE
    container_name: lexiq-backend
    ports: 
      - "5000:5000"
    secrets: 
      - backend_env
    depends_on:
      db: 
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl --fail --silent http://localhost:5000/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: DOCKERFILE
      args:
        - NG_GOOGLE_CLIENT_ID=751309259564-16n4ng66dqcqrulih1ihhamdrnrlbvgr.apps.googleusercontent.com
        - BACKEND_URL=http://backend:5000
    container_name: lexiq-frontend
    ports:
      - "443:443"
    depends_on:
      - backend
    user: nginx
    healthcheck:
      test: ["CMD-SHELL", "curl --fail --silent --insecure https://frontend:443/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped 
    
volumes:
  db-data:
