<aside id="mainAside">
    <ul class="sideBarLinks">

        <li><a href=""><span class="icon">🏠</span> Home</a></li>

        <li><a routerLink="/courses"><span class="icon">📚</span> Courses</a></li>

        <li><a href=""><span class="icon">🏆</span> Leaderboard</a></li>

        <li><a href=""><span class="icon">👤</span> Profile</a></li>

        <li><a href=""><span class="icon">❓</span> Help</a></li>

        @if (userIsAuthenticated) {
          <li><a href=""><span class="icon">🚪</span> Logout</a></li>
        } @else {
          <li><a routerLink="/google-login">Login</a></li>
        }

    </ul>
</aside>