/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #1a2429;
    --primary-color: #dbe5eb;
    --font-family: "Bricolage Grotesque", sans-serif; 
}