name: "CI/CD - Docker Compose Deployment"

on:
  workflow_dispatch:
  push:
    branches:
      - feature/ci-cd
      - master
  pull_request:
    branches:
      - feature/ci-cd
      - master

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-docker:
    uses: Ghostdog02/Lexiq/.github/workflows/build-and-push-docker.yml@feature/ci-cd
    with:
      config-path: .github/workflows/build-and-push-docker.yml
    permissions:
      contents: read
      packages: write
    
  pull-and-test:
    needs: build-and-push-docker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    
    steps:
      - name: Set lowercase repo name
        run: echo "REPO_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull and test frontend
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-frontend:${{ github.ref_name }}
          docker run --rm ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-frontend:${{ github.ref_name }} echo "Frontend running"

      - name: Pull and test backend
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-backend:${{ github.ref_name }}
          docker run --rm ${{ env.REGISTRY }}/${{ env.REPO_LOWER }}-backend:${{ github.ref_name }} echo "Backend running"
  
  continious-delivery:
    needs: pull-and-test
    uses: Ghostdog02/Lexiq/.github/workflows/continious-delivery.yml@feature/ci-cd
    with:
      config-path: .github/workflows/continious-delivery.yml
    secrets:
      HETZNER_PROD_SSH_KEY: ${{ secrets.HETZNER_PROD_SSH_KEY }}
      HETZNER_PROD_HOST: ${{ secrets.HETZNER_PROD_HOST }}
      HETZNER_PROD_USERNAME: ${{ secrets.HETZNER_PROD_USERNAME }}

