name: "CI/CD - Docker Compose Deployment"

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-docker:
    uses: Ghostdog02/Lexiq/.github/workflows/build-and-push-docker.yml@master
    with:
      config-path: .github/workflows/build-and-push-docker.yml
    permissions:
      contents: read
      packages: write
    
  pull-and-test:
    needs: build-and-push-docker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    
    steps:
      - name: Set lowercase repo name
        run: echo "REPO_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      
      - name: Replace all slashesh with dashes
        run: |
          BRANCH="${{ github.ref_name }}"
          BRANCH="${BRANCH//\//-}"
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

  continuous-delivery:
    needs: pull-and-test
    uses: Ghostdog02/Lexiq/.github/workflows/continuous-delivery.yml@master
    permissions:
      packages: read
    with:
      config-path: .github/workflows/continuous-delivery.yml
    secrets:
      HETZNER_PROD_PRIVATE_SSH_KEY: ${{ secrets.HETZNER_PROD_PRIVATE_SSH_KEY }}
      HETZNER_PROD_HOST: ${{ secrets.HETZNER_PROD_HOST }}
      HETZNER_PROD_USERNAME: ${{ secrets.HETZNER_PROD_USERNAME }}
      HETZNER_PROD_SSH_PORT: ${{ secrets.HETZNER_PROD_SSH_PORT }}
      HETZNER_PROD_SSH_KEY_PASSPHRASE: ${{ secrets.HETZNER_PROD_SSH_KEY_PASSPHRASE }}